services:
  - type: web
    name: bongx-telegram-bot
    env: python
    region: singapore
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: TELEGRAM_TOKEN
        sync: false
      - key: CER_API_KEY
        sync: false
      - key: PORT
        value: 10000
